#root{
  display: flex;
  background-color: rgb(227, 232, 248);
}
.sidebar{
  width: 250px;
  height: 100vh;
  background-color: rgb(249, 247, 247);
  text-decoration: none;
  text-align: center;
}
.sidebar :hover{
  background-color: rgb(26, 25, 72);
}
.d-flex{
  position: relative;
  bottom: 70px;
  left: 49px;
}
.border{
  position: relative;
   top: 20px;
}



